.header {
  height: 50px;
  background-color: #222222;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header .logo {
  float: left;
  line-height: 50px;
  font-size: 16px;
  color: #9d9d9d;
}
.header .logo span {
  font-size: 12px;
  margin-left: 30px;
}
.header .logo a {
  color: #9d9d9d;
}
.header .logo a:hover {
  color: #fff;
}
.header .index-ul {
  float: right;
  height: 50px;
}
.header .index-ul li {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
}
.header .index-ul li a {
  display: block;
  font-size: 16px;
  color: #9d9d9d;
  text-align: center;
}
.header .index-ul li a:hover {
  color: #fff;
}
.content {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 50px;
}
