.header {
  height: 50px;
  background-color: #222222;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header .logo {
  float: left;
  line-height: 50px;
  font-size: 16px;
  color: #9d9d9d;
}
.header .logo span {
  font-size: 12px;
  margin-left: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header .logo a {
  color: #9d9d9d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header .logo a:hover {
  color: #fff;
}
.header .index-ul {
  float: right;
  height: 50px;
}
.header .index-ul li {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
}
.header .index-ul li a {
  display: block;
  font-size: 16px;
  color: #9d9d9d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.header .index-ul li a:hover {
  color: #fff;
}
@media screen and (max-width: 750px) {
  .banner {
    padding-top: 50px;
    height: 380px;
    width: 100%;
    position: relative;
  }
  .banner h1 {
    position: absolute;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    color: #fff;
    z-index: 10;
  }
  .banner h2 {
    position: absolute;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: #fff;
    z-index: 10;
  }
  .banner .model-box {
    width: 100%;
    height: 380px;
    background-color: #000;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 2;
  }
  .banner img {
    height: 380px;
    width: 100%;
  }
}
.banner {
  padding-top: 50px;
  height: 380px;
  width: 100%;
  position: relative;
}
.banner h1 {
  position: absolute;
  font-size: 90px;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  color: #fff;
  z-index: 10;
}
.banner h2 {
  position: absolute;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 140px;
  color: #fff;
  z-index: 10;
}
.banner .model-box {
  width: 100%;
  height: 380px;
  background-color: #000;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 2;
}
.banner img {
  height: 380px;
  width: 100%;
}
.content {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
